.header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 0px;
}

.controls {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}