<app-header></app-header>
<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <div class="title-wrapper">
    <div class="title-label-wrapper">
      <label class="label" for="author">
        Title
        <input
          formControlName="title"
          class="input"
          type="text"
          name="title"
          id="title"
          placeholder="Enter title"
        />
      </label>
      <p
        *ngIf="
          form.get('title')!.invalid &&
          (form.get('title')!.dirty || form.get('title')!.touched)
        "
        class="validation-error"
      >
        Title is required
      </p>
    </div>
    <app-button
      title="{{ isCreate ? 'Create' : 'Edit' }} course"
      type="submit"
      [disabled]="form.invalid || authorList.length === 0"
    ></app-button>
  </div>
  <label class="label description-label">
    Description
    <textarea
      class="description"
      placeholder="Enter description"
      formControlName="description"
    ></textarea>
  </label>
  <div class="duration-author-wrapper">
    <div class="duration-author">
      <div class="author-input-wrapper">
        <div class="duration-label-wrapper">
          <div class="label-wrapper">
            <label class="author-label" for="author">
              Author
              <input
                formControlName="author"
                class="input"
                type="text"
                name="author"
                id="author"
                placeholder="Enter author"
              />
            </label>
            <app-button
              type="button"
              title="Create author"
              (click)="createAuthor(form.get('author')?.value)"
            ></app-button>
          </div>
        </div>
        <p
          *ngIf="form.get('author')!.touched && authorList.length === 0"
          class="validation-error"
        >
          Author is required
        </p>
      </div>
      <div class="duration-wrapper">
        <div class="duration-label-wrapper">
          <label class="duration-label" for="duration">
            Duration
            <input
              class="input"
              type="text"
              placeholder="Enter minutes"
              formControlName="duration"
            />
          </label>
          <div class="duration">
            {{ form.get("duration")?.value | duration }}
          </div>
        </div>
        <p
          *ngIf="
            form.get('duration')!.invalid &&
            (form.get('duration')!.dirty || form.get('duration')!.touched)
          "
          class="validation-error"
        >
          Duration is required
        </p>
      </div>
    </div>
    <div class="authors-list">
      <h3 class="author-list-title">Author list</h3>
      <ul class="list">
        <li class="list-item" *ngFor="let author of authorList">
          {{ author.name }}
          <app-button
            class="delete-button"
            [icon]="deleteButton"
            size="small"
            (click)="deleteAuthor(author.id)"
          ></app-button>
        </li>
      </ul>
    </div>
  </div>
</form>
<app-button
  title="back to courses"
  [routerLink]="['/courses']"
  class="back-to-course"
></app-button>
