:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.title-wrapper {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  width: 70%;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.description {
  width: 100%;
  height: 200px;
  resize: none;
}

.description-label {
  width: 100%;
  height: 240px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 10px;
}

.delete-button {
  margin-left: 50px;
}

.duration-author-wrapper {
  display: flex;
}

.duration-author {
  width: 50%;
}

.author-title {
  text-align: center;
}

.authors-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  & .author-list-title {
    margin-top: 20px;
  }
}

.author-input-wrapper {
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.label {
  margin-right: 20px;
}

.title-label-wrapper {
  height: 56px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.validation-error {
  color: red;
  font-size: 10px;
}

.duration-wrapper {
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.duration-label-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.author-label, .duration-label {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.back-to-course {
  margin-top: 20px;
}