.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(80, 193, 245);
  padding: 10px;
  margin: 10px 0;
}
  
.label {
  display: flex;
  height: 70px;
  flex-direction: column;
}

.validation-error {
  margin: 3px 0 15px;
  color: red;
  font-size: 12px;
}
