<main class="main">
  <app-header></app-header>
  <app-search (searchValue)="getSearch($event)"></app-search>
  <ul class="list" *ngIf="courses">
    <li class="item" *ngFor="let item of courses | filter: searchText">
      <app-course [course]="item" (deleteButtonAction)="deleteCourse($event)">
      </app-course>
    </li>
  </ul>
  <app-info
    *ngIf="!courses && !fetch"
    [text]="infoText"
    [title]="infoTitle"
  ></app-info>
  <app-button
    *ngIf="!fetch"
    class="add-course"
    [title]="infoButtonTitle"
    (click)="addCourse()"
  ></app-button>
</main>
