<app-header *ngIf="!isView"></app-header>
<div class="course">
  <div class="description">
    <h3>{{ course.title }}</h3>
    <div>{{ course.description }}</div>
  </div>
  <div>
    <p class="item">
      Authors: <span> {{ authorList.join(", ") }}</span>
    </p>
    <p class="item">Duration: {{ course.duration | duration }}</p>
    <p class="item">Created: {{ course.creationDate }}</p>
    <div class="controls">
      <app-button
        *ngIf="isView"
        [title]="buttonTitle"
        [routerLink]="['/course', course.id]"
      ></app-button>
      <app-button
        [icon]="editButton"
        [routerLink]="['/courses/edit', course.id]"
      ></app-button>
      <app-button [icon]="deleteButton" (click)="deleteCourse()"></app-button>
    </div>
  </div>
</div>
<app-button
  *ngIf="!isView"
  title="back to courses"
  [routerLink]="['/courses']"
  class="back-to-course"
></app-button>
